html {
  font-family: "Basier circle", -apple-system, system-ui, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

input[type=text]
{
    margin-top: 10px;
    line-height: 35px;
    align-content: center;
    padding-top: 0px !important;
    height: 38px;
    padding-left: 10px;
    text-decoration: none;
    background-repeat: repeat-x;
    border-radius: 25px;
    border: 0;
}

.ColorGradient {
  height: 100%;
  width: 100%;
  background-image: linear-gradient(180deg, #009688, yellow);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.displayDiv {
  height: 60vh;
  width: 80%;
  border-radius: 25px;
  background-color: aliceblue;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.buttons {
  height: 20vh;
  width: 100%;
  display: flex;
  justify-content: center;
}

.showZombieButton,
.createzombieButton,
.levelupButton,
.levelDownButton,
.changeNameButton {
  width: 200px;
  height: 50px;
  background-color: #fff;
  border: 0 solid #e2e8f0;
  border-radius: 1.5rem;
  box-sizing: border-box;
  color: #0d172a;
  cursor: pointer;
  display: inline-block;
  font-family: "Basier circle", -apple-system, system-ui, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 1.1rem;
  font-weight: 600;
  line-height: 1;
  padding: 1rem 1.6rem;
  text-align: center;
  text-decoration: none #0d172a solid;
  text-decoration-thickness: auto;
  transition: all 0.1s cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: 0px 1px 2px rgba(166, 175, 195, 0.25);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.showZombieButton:hover,
.createzombieButton:hover,
.levelupButton:hover,
.levelDownButton:hover,
.changeNameButton:hover {
  background-color: #1e293b;
  color: #fff;
}

@media (min-width: 768px) {
  .showZombieButton,
  .createzombieButton,
  .levelupButton,
  .levelDownButton,
  .changeNameButton {
    font-size: 1.125rem;
    padding: 1rem 2rem;
  }
}
